name: Deploy and Release Package

on:
  workflow_dispatch:
    inputs:
      tags:
        description: 'Semantic Tag'     
        required: true
        default: 'v1.0.0'
        type: string # 'v[0-9]+.[0-9]+.[0-9]+'
      release_body:
        description: 'Release body'
        default: ''
        type: string

jobs:
  publish_npm:
    name: Publishing to NPM

    runs-on: ubuntu-latest

    permissions:
      actions: write
      contents: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: latest
          cache: 'pnpm'
          registry-url: https://registry.npmjs.org/

      - name: Install dependencies
        run: pnpm install

      - name: Build dist files
        run: pnpm run build

      # Deploy package to NPM
      - name: Bump Version of package.json
        uses: ramonpaolo/bump-version@v2.3.1
        with:
          tag: ${{ inputs.tags }}
          commit: true
          branch_to_push: 'main'

      - name: Publish package to NPM
        run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      # Release package to Github
      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with: 
          tag_name: ${{ inputs.tags }}
          release_name: ${{ inputs.tags }}
          body: ${{ inputs.release_body }}
          draft: false
          prerelease: false
      
      - name: Upload Release Assets
        id: upload_release_assets
        uses: actions/upload-release-asset@v1
        env: 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./dist/index.js
          asset_name: tiny_is_equal.js
          asset_content_type: application/javascript
